@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
  font-size: 16px;
}

.logo {
  width: 100px;
}
.title {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.user {
  width: 50px;
  height: 50px;
  border: 2px solid #363636;
  border-radius: 50%;
}

textarea {
  resize: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
}

/* Define los estilos CSS para los tres círculos */
@keyframes loading-circles {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* Aplica la animación a los círculos */
.loading-circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  animation: loading-circles 1s infinite;
}

.circle-light {
  background-color: #333;
}
.circle-dark {
  background-color: #f8f8f8;
}

/* Crea tres círculos */
.loading-circle:nth-child(1) {
  animation-delay: 0s;
}
.loading-circle:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-circle:nth-child(3) {
  animation-delay: 0.4s;
}
